body
{
    background-color: aliceblue;
}
#puntuacion
{
    font-size: 20px;
    margin-left: 400px;
}
#temporizador
{
    font-size: 20px;
    margin-left: 50;
}
#Tudibujo
{
    color: lightcoral;
}
h1{
    color: lightcoral;
    background-color: lightblue;
}
#show_sketch
{
    float: right;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 150px;
    box-shadow: 5px 5px 5px grey;
    box-shadow: 1px 1px 1px 38px white;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example
{
    from{box-shadow: 1px 1px 38px grey;}
    to{box-shadow: 1px 1px 38px white;}
}
